@tailwind base;
@tailwind components;
@tailwind utilities;

@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

body {
  width: 100vw;
  height: 100vh;
  background-color: #54b2d3;
  padding: 50px 130px 50px 50px;
}

button:hover {
  cursor: pointer;
}


@layer components {
  .custom-slider .custom-arrow {
    @apply absolute top-1/2 -translate-y-1/2 w-5 h-8 flex items-center justify-center cursor-pointer z-10;
  }

  .custom-slider .custom-prev-arrow {
    @apply -left-6;
  }

  .custom-slider .custom-next-arrow {
    @apply -right-6;
  }
}