@tailwind base;
@tailwind components;
@tailwind utilities;

@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

body {
  width: 100vw;
  height: 100vh;
  background-color: #54b2d3;
  padding: 50px 130px 50px 50px;
}

button:hover {
  cursor: pointer;
}
