@tailwind base;
@tailwind components;
@tailwind utilities;

@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

body {
  width: 100vw;
  height: 100vh;
  background-color: #54b2d3;
  padding: 50px 130px 50px 50px;
}

button:hover {
  cursor: pointer;
}

.custom-slider {
  position: relative;
  padding: 0 5px; /* 화살표를 위한 공간 확보 */
}

.custom-slider .slick-arrow {
  position: absolute;
  top: calc(50% - 15px); 
}

.custom-slider .slick-arrow:before {
  content: none;
}

.custom-slider .slick-prev {
  left: -30px;
}

.custom-slider .slick-next {
  right: -30px;
}
